@font-face {
    font-family: 'crimson-pro';
    src: url('fonts/crimsonpro.ttf') format('truetype');
}

@font-face {
    font-family: 'karla';
    src: url('fonts/karla.ttf') format('truetype');
}

:root {
    --tan1: #F2F1EE;
    --red1: #290000;
    --red2: #660707;
    --red3: #A20E0E;
    --red4: #EBD4D2;
}

*{box-sizing: border-box;}

html, body{
    background-color: var(--tan1);
    color: var(--red1);
    margin: 0;
    height: 100%;
    text-wrap: pretty;
}

p, a {
    font-size: 20px;
}

/*header*/
header {
    background-color: var(--red3);
    color: var(--tan1);
    width: 100%;
    box-shadow: 0px 6px 6px rgb(0, 0, 0, 0.2);
}

header a{
    color: var(--tan1);
    text-decoration: none;
}

/*nav bar*/
    /*overall*/
    .menu {
        vertical-align: center;
        text-align: center;
        font-family: 'crimson-pro';
        font-size: 1.5rem;
        }
    
        /*header box*/
        .top-nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-color: var(--red3);
        height: 85px;
        padding: 0px 100px;
        }
    
        .top-nav img {
        max-height: 50px;
        }
    
        /*hamburger icon*/
        .menu {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        margin: 0;
        padding: 0;
        }
        
        .menu > li {
        margin: 0 1rem;
        overflow: hidden;
        }
        
        .menu-button-container {
        display: none;
        height: 100%;
        width: 50px;
        cursor: pointer;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        }
        
        #menu-toggle {
        display: none;
        }
        
        .menu-button,
        .menu-button::before,
        .menu-button::after {
        display: block;
        background-color: var(--tan1);
        position: absolute;
        height: 8px;
        width: 55px;
        transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
        border-radius: 10px;
        }
        
        .menu-button::before {
        content: '';
        margin-top: -18px;
        }
        
        .menu-button::after {
        content: '';
        margin-top: 18px;
        }
        
        #menu-toggle:checked + .menu-button-container .menu-button::before {
        margin-top: 0px;
        transform: rotate(405deg);
        }
        
        #menu-toggle:checked + .menu-button-container .menu-button {
        background: rgba(255, 255, 255, 0);
        }
        
        #menu-toggle:checked + .menu-button-container .menu-button::after {
        margin-top: 0px;
        transform: rotate(-405deg);
        }
        
    /*pop-up menu*/
    @media (max-width: 699px) {

        .top-nav {
            padding: 0px 50px;
        }

        .menu-button-container {
            display: flex;
        }
        
        .menu {
            position: absolute;
            top: 0;
            margin-top: 75px;
            left: 0;
            flex-direction: column;
            width: 100%;
            justify-content: center;
            align-items: center;
        }
        
        #menu-toggle ~ .menu li {
            height: 0;
            margin: 0;
            padding: 0;
            border: 0;
            transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
        }
        
        #menu-toggle:checked ~ .menu li {
            border: .75px solid var(--red1);
            height: 3em;
            padding: .5em;
            transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
        }
        
        .menu > li {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
            padding: 1em 0;
            width: 100%;
            background-color: var(--red3);
        }
        
        .menu > li a {
            padding: 0 10rem;
            display:block;
        }
        }

/*headers*/
h1, h2, h3, h4, h5, h6{
    font-family: 'crimson-sans', serif;
}

/*main text*/
p, ul {
    font-family: 'karla', sans-serif;
    font-weight: 275;
}

ul {
    padding-left: 20px;
}

/*footer*/
footer {
    width: 100%;
    padding: 25px 100px;
    text-align: center;
    background-color: var(--red3);
    color: var(--tan1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*mail*/
.mail {
    max-width: 250px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.mail img {
    height: 20px;
    margin-right: 10px;
}


/*logo*/
footer img {
    max-height: 50px;
    align-self: center;
}


/*footer menu*/
.footer-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

footer ul {
    list-style: none;
}

footer p a:link, footer li a{
    color: var(--tan1);
    text-decoration: none;
}
